<section id="barra-extra">
    <div class="extra">
        <i class="fas fa-credit-card"></i><br>
        Aceptamos todas las tarjetas</div>
    <div class="extra">
        <i class="fas fa-truck"></i><br>
        Envíos en el día</div>
    <div class="extra">
        <i class="fas fa-lock"></i><br>
        Protegemos tus datos</div>   

</section>