<footer>
    <div id="contenedor-footer">
            <img class="logo-footer" src="/imagenes/logo.png" alt="">
        
            <img class="redes" src="/imagenes/ig.png" alt="">

    </div>    
</footer>