<header>
    <div id="contenedor-header">
        <div id="divlogo">
            <a href="/"><img id="logo" src="imagenes/logo.png"  alt=""></a>
        </div>
        <div id="buscador">
            <form action="">
                <input type="text" placeholder="Buscar..">
            </form>
        </div>
        <div id="carrito-login">
            <% if (locals.isLogged) { %>
            <ul>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/registro">Crear Cuenta</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <% }else{ %>
                <img src="/imagenes/avatars/<%= locals.userLogged.avatar %> "width="60" style="border-radius:50%"> 
                <h4>hi <%= locals.userLogged.usuario %> </h4>
                <li><a href="/usuario/perfil">Perfil</a></li>
                <li><a href="/usuario/logout">Cerrar Sesion</a></li>
                    <% } %> 
            </ul>
        </div>

    </div>
    <nav>
        <ul>
            <li><a href="#"><img src="imagenes/menu-icon.png" alt=""></a>
                <ul>
                    <a href="/"> <li>Inicio</li></a>
                    <a href="#"> <li>Categorias</li></a>
                    <a href="#"> <li>Contacto</li></a>
                </ul>
                </li>
        </ul>
    </nav>
    
    
</header>