<header>
    <div id="contenedor-header">
        <div id="divlogo">
            <a href="/"><img id="logo" src="imagenes/logo.png"  alt=""></a>
        </div>
        <div id="buscador">
            <form action="">
                <input type="text" placeholder="Buscar..">
            </form>
        </div>
        <div id="carrito-login">
            <ul>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/registro">Crear Cuenta</a></li>
                <li><a href="/carrito">Carrito</a></li>

            </ul>
        </div>

    </div>
    <nav>
        <ul>
            <li><a href="#"><img src="imagenes/menu-icon.png" alt=""></a>
                <ul>
                    <a href="/"> <li>Inicio</li></a>
                    <a href="#"> <li>Categorias</li></a>
                    <a href="#"> <li>Contacto</li></a>
                </ul>
                </li>
        </ul>
    </nav>
    <nav id="menu-no-mobile">
        <ul>
            <a href="/"><li>Inicio</li></a>
            <a href="#"><li>Categorias</li></a>
            <a href="#"><li>Contacto</li></a>
        </ul>
    </nav>
    
</header>