<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links-y-meta.ejs') %>

<title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
<%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>
        <section id="contenedor-section">
        <div id="ruta">
                <p><a class="negro" href="/">Home</a> > Editar producto</p>
        </div>    
           
            <article id="login-registro">
                <h2>Editar Producto</h2><br>

                    <form class="crear-producto" method="POST" action="EN CONSTRUCCION">
                            
                            <label class="marg5px" for="nombre-taza"><b>Nombre de taza</b></label>
                            <input class="marg5px" type="text" name="nombre-taza" id="nombre-taza"><br>
                            <label class="marg5px" for="descripcion"><b>Descripción</b></label>
                            <input class="marg5px" type="text-area" name="descripcion" id="descripcion">
                            <br>
                            <label class="marg5px" for="tipo-taza"><b>Material</b></label>
                            <input type="radio" id="Ceramica" name="tipo-taza" value="Ceramica">
                            <label for="Ceramica">Cerámica</label>
                            <input type="radio" id="magica" name="tipo-taza" value="magica">
                            <label for="magica">Mágica</label>
                            <br>
                            <label class="marg5px" for="precio"><b>Precio</b></label>
                            <input class="marg5px" type="text" name="precio" id="precio"><br>
                            <br>
                            <label for="imagen">Seleccionar Imagen:</label>
                            <input type="file" id="myfile" name="imagen"><br><br>
                            <input class="glow-on-hover" type="submit" value="Subir">
                            
                                             

                    </form>

            </article>

        </section>

       
        <%- include('./partials/footer.ejs') %>

    </div>
</body>

</html>