<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap" rel="stylesheet">
    <title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
        <header>
            <div id="contenedor-header">
                <div id="divlogo">
                    <a href="/"><img id="logo" src="imagenes/logo.png"  alt=""></a>
                </div>
                <div id="buscador">
                    <form action="">
                        <input type="text" placeholder="Buscar..">
                    </form>
                </div>
                <div id="carrito-login">
                    <ul>
                        <li><a href="/login">Ingresar</a></li>
                        <li><a href="/registro">Crear Cuenta</a></li>
                        <li><a href="/carrito">Carrito</a></li>

                    </ul>
                </div>

            </div>
            <nav>
                <ul>
                    <li><a href="#"><img src="imagenes/menu-icon.png" alt=""></a>
                        <ul>
                            <a href="/"> <li>Inicio</li></a>
                            <a href="#"> <li>Categorias</li></a>
                            <a href="#"> <li>Contacto</li></a>
                        </ul>
                        </li>
                </ul>
            </nav>
            <nav id="menu-no-mobile">
                <ul>
                    <a href="/"><li>Inicio</li></a>
                    <a href="#"><li>Categorias</li></a>
                    <a href="#"><li>Contacto</li></a>
                </ul>
            </nav>
            
        </header>

        <section id="productos">
            <h1>Productos Destacados</h1>
            <article>
                <a href="/productDetail">

                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/c4e8235ca027cdc387dea5e64e718a4989708c3a51bcdfd9661e6f3f06879f0479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 01</h4>
                </div>
            </a>
            </article>
       
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/fd1531139f494abc9c1596c054ef1065936545bfe1c348b644e8dae70d97e7e379300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/28aa089b98fafa17d0048b5004d20f7aaa9f8847a7d1bca4712546f589597eba79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/368766129c6645593098c8d0340d83ade1bcc3592aa82df5026ebb1c84cf0b7279300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/213acdddf8ca368b4d32014162409d502a31fb64f507592c1d4fd22065f59cfd79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/ebfeed93cf6a1c45bed670bdf038fa358936193dba526f5a2a54c8c429f428b479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/964a56d8266a3b40f758d538d44441c74be83dba7910095eee6eec6081cf9bd479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/493b2d6aff91ab7c53530c9622258f3704ca3aa736d7e102c17f17dc9b5ddcba79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
        </section>
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>

        </section>
        <footer>
            <div id="contenedor-footer">
                    <img class="logo-footer" src="imagenes/logo.png" alt="">
                
                    <img class="redes" src="imagenes/ig.png" alt="">

            </div>    
        </footer>
    </div>
</body>

</html>