<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap" rel="stylesheet">
    <title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
        <%- include('./partials/header.ejs') %>

        <section id="productos">
            <h1>Nuestras Tazas</h1>
            <article>
                <a href="/productDetail">

                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/c4e8235ca027cdc387dea5e64e718a4989708c3a51bcdfd9661e6f3f06879f0479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>The Beatles 01</h4>
                </div>
            </a>
            </article>
       
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/fd1531139f494abc9c1596c054ef1065936545bfe1c348b644e8dae70d97e7e379300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Van Gogh 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/61e6621f984778243a7158a1c3217afb9501dba308d3da7284a00dd2ebb7d1cb79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Harry Potter 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/28aa089b98fafa17d0048b5004d20f7aaa9f8847a7d1bca4712546f589597eba79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Star Wars 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/368766129c6645593098c8d0340d83ade1bcc3592aa82df5026ebb1c84cf0b7279300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Rick and Morty 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/213acdddf8ca368b4d32014162409d502a31fb64f507592c1d4fd22065f59cfd79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Maradona 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/ebfeed93cf6a1c45bed670bdf038fa358936193dba526f5a2a54c8c429f428b479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Harold 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/964a56d8266a3b40f758d538d44441c74be83dba7910095eee6eec6081cf9bd479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Bob Esponja 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/d705e1f241dfa7d21490b6ef516a56dc4157f04d4a6e3a1ded13a91890ad603079300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$1200</p>
                    <h4>Sigmund Freud 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/493b2d6aff91ab7c53530c9622258f3704ca3aa736d7e102c17f17dc9b5ddcba79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taylor Swift 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/57a5558a28ffdf5754202efc0e5fa031bb807b6a26f8b33e6ca290470d31284379300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Twin Peaks 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/4ce19b6bf38e8d30084dbbbabb15926d36e639b614e9dbfff6f4e437e684e6a879300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>This is fine</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/d372c1a05c10975b85b1dbfb90629ff62dadc69319067fd8eb108bafc0d0262f79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>The Beatles 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/3bc9c5231cda76c4f551cf2aa78f3fa71073755246bf66fc321fd1ab0bcb762d79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Bitcoin 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/114378db3db3866dfd26cae1eec44e777575a029de16d83cb377edcaef27906279300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Van Gogh 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/8ae412fc4929df37483e1fafa8dc74cdf541b318ac030705744ed5793c0fdf9f79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Michael Jordan 01</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/3da89d6c5df3a06d9abe71a7ab6f3a3cf6395745bf84965f827fb019c31a996079300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Star Wars 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/814eb894bb2e7c0fbdab96df282c9141c2ba3cf2bd94e586337d77fda829880079300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$1200</p>
                    <h4>Harry Potter 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/6aea5c96170b2e0e74fe1be84bd51e942016910e573d53ccf0eecacedbe92d3379300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Maradona 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/19cccadbdd48aa601511704dc360c74b5724b2ebdabcbbd098097d7e667c1d4b79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Twin Peaks 01</h4>
                </div>
            </article>
        </section>
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>

        </section>
        <%- include('./partials/footer.ejs') %>

    </div>
</body>

</html>