<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Producto</title>
</head>
<body>
    <header>
        <div id="contenedor-header">
            <div id="divlogo">
                <img id="logo" src="imagenes/logo.png" alt="">
                </div>
            <div id="buscador">
                <form action="">
                    <input type="text">
                </form>
            </div>
            <div id="carrito-login">
                <ul>
                    <li>Ingresar</li>
                    <li>Crear Cuenta</li>
                    <li>Carrito</li>

                </ul>
            </div>

        </div>
        <nav>
            <ul>
                <li><a href="#"><img src="imagenes/menu-icon.png" alt=""></a>
                    <ul>
                        <a href="#"> <li>Inicio</li></a>
                        <a href="#"> <li>Categorias</li></a>
                        <a href="#"> <li>Contacto</li></a>
                        <a href="#"><li>Carrito</li></a>
                    </ul>
                    </li>
            </ul>
        </nav>
        <nav id="menu-no-mobile">
            <ul>
                <li>Inicio</li>
                <li>Categorias</li>
                <li>Contacto</li>
                <li>Carrito</li>
            </ul>
        </nav>
        
    </header>

    <main>
        <h6>Ruta de carpetas</h6>
        <h2>Nombre de Taza</h2>
        <article class="product-details">
            <div class="taza-individual">
                <img src="https://pixlr.com/img/misc/x-icon.svg" alt="" class="img-producto">
                <i class="fas fa-truck"></i>
            </div>
            <div class="product-description">
                <h4>Nombre de Taza</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt officia vel cupiditate corporis optio accusantium, officiis blanditiis excepturi itaque qui velit, molestias quisquam. Hic ad totam minima voluptatem, consequuntur recusandae!</p>
                <br>
                <h4>Cantidad (aca iria el contador)</h4>
                <br>
                <h3 class="precio"> Precio total: $000,00</h3>
                <div id="product-buttons">
                <button class="add-cart-button">Agregar al Carrito</button>
                <br>
                <button class="purchase-button">Finalizar compra</button>
            </div>

            </div>
        </article>
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>
    
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>