<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Mos Tazas | Tazas Sublimadas</title>
</head>
<body>
        <header>
            <div id="contenedor-header">
                <div id="divlogo">
                    <a href="/"><img id="logo" src="imagenes/logo.png"  alt=""></a>
                </div>
                <div id="buscador">
                    <form action="">
                        <input type="text" placeholder="Buscar..">
                    </form>
                </div>
                <div id="carrito-login">
                    <ul>
                        <li><a href="/login">Ingresar</a></li>
                        <li><a href="/registro">Crear Cuenta</a></li>
                        <li><a href="/carrito">Carrito</a></li>

                    </ul>
                </div>

            </div>
            <nav>
                <ul>
                    <li><a href="/"><img src="imagenes/menu-icon.png" alt=""></a>
                        <ul>
                            <a href="/">
                                <li>Inicio</li>
                            </a>
                            <a href="#">
                                <li>Categorias</li>
                            </a>
                            <a href="#">
                                <li>Contacto</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav id="menu-no-mobile">
                <ul>
                    <a href="/">
                        <li>Inicio</li>
                    </a>
                    <a href="#">
                        <li>Categorias</li>
                    </a>
                    <a href="#">
                        <li>Contacto</li>
                    </a>
                </ul>
            </nav>

        </header>

    <main>
        <div id="ruta">
            <p><a class="negro" href="/">Home</a> > Productos</p>
    </div> 
        <h2>Nombre de Taza</h2>
        <article class="product-details">
            <div class="taza-individual">
                <img src="https://d22fxaf9t8d39k.cloudfront.net/28aa089b98fafa17d0048b5004d20f7aaa9f8847a7d1bca4712546f589597eba79300.jpeg" alt="" class="img-producto">
                <i class="fas fa-truck"></i>
            </div>
            <div class="product-description">
                <h4>Nombre de Taza</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt officia vel cupiditate corporis optio accusantium, officiis blanditiis excepturi itaque qui velit, molestias quisquam. Hic ad totam minima voluptatem, consequuntur recusandae!</p>
                <br>
                <h4>Cantidad<input class="counter" type="number" name="Cantidad" list="defaultNumbers">
                    <datalist id="defaultNumbers">
                      <option value="1">
                      <option value="2">
                      <option value="3">
                      <option value="4">
                      <option value="5">
                    </datalist> 
<!--                     <input name="Cantidad" type="number" step="1" min="0" max="100"> -->
                </h4>
                <br>
                <h3 class="precio"> Precio total: $000,00</h3>
                <div id="product-buttons">
                <p class="add-to-cart"><a href="#">Agregar al Carrito</a></p>
            <br>
                <p class="purchase-button"><a href="#">Finalizar compra</a></p>
            </div>
            
        </div>
    </article>
    
</main>
<section id="related-products">
    <h1>Productos Relacionados</h1>

    <article>
        <div class="taza-individual">
            <img src="https://d22fxaf9t8d39k.cloudfront.net/368766129c6645593098c8d0340d83ade1bcc3592aa82df5026ebb1c84cf0b7279300.jpeg" alt="" class="img-producto">
            <i class="fas fa-truck"></i>
            <p class="precio">$850</p>
            <h4 class="nombre-de-taza">Taza 01</h4>
        </div>
    </article>
    <article>
        <div class="taza-individual">
            <img src="https://d22fxaf9t8d39k.cloudfront.net/213acdddf8ca368b4d32014162409d502a31fb64f507592c1d4fd22065f59cfd79300.jpeg" alt="" class="img-producto">
            <i class="fas fa-truck"></i>
            <p class="precio">$850</p>
            <h4 class="nombre-de-taza">Taza 02</h4>
        </div>
    </article>
    <article>
        <div class="taza-individual">
            <img src="https://d22fxaf9t8d39k.cloudfront.net/c4e8235ca027cdc387dea5e64e718a4989708c3a51bcdfd9661e6f3f06879f0479300.jpeg" alt="" class="img-producto">
            <i class="fas fa-truck"></i>
            <p class="precio">$850</p>
            <h4 class="nombre-de-taza">Taza 02</h4>
        </div>
    </article>
    <article>
        <div class="taza-individual">
            <img src="https://d22fxaf9t8d39k.cloudfront.net/fd1531139f494abc9c1596c054ef1065936545bfe1c348b644e8dae70d97e7e379300.jpeg" alt="" class="img-producto">
            <i class="fas fa-truck"></i>
            <p class="precio">$850</p>
            <h4 class="nombre-de-taza">Taza 02</h4>
        </div>
    </article>
</section>
<section class="other-buttons"> 
    <p class="see-more-button"><a href="#">Ver mas</a></p>
    <p class="checkout-button"><a href="#">Finalizar Compra</a></p>
</section>
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>
    
        </section>
    <footer>
            <div id="contenedor-footer">
                    <img class="logo-footer" src="imagenes/logo.png" alt="">
                
                    <img class="redes" src="imagenes/ig.png" alt="">

            </div>    
        </footer>
</body>
</html>