<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap"
        rel="stylesheet">
    <title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>
    <div class="contenedor-global">
        <%- include('./partials/header.ejs') %>


        <main id="main-section">
            <div id="ruta">
                <p><a class="negro" href="/">Home</a> > Carrito</p>
            </div>
            <section id="Section-de-productos-en-carrito">
                <h2>Carrito de Compras</h2>

                <article class="productos-en-carrito">
                        <div class="cuerpo-producto">
                            <div class="taza-individual-details">
                                <img class="img-producto" src="https://d22fxaf9t8d39k.cloudfront.net/c4e8235ca027cdc387dea5e64e718a4989708c3a51bcdfd9661e6f3f06879f0479300.jpeg" alt="img-producto">
                            </div>
                            <div class="product-description">
                                <h3> Nombre taza 1 </h3> 
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit repellat necessitatibus alias cumque enim, eius dolorem? Repellendus, voluptas culpa inventore nisi officiis reiciendis eos vero et facere dolores cum doloribus minima consequatur voluptates incidunt ipsam eaque mollitia, fuga omnis qui eius? Maxime, voluptatibus consectetur aliquid ipsum, expedita ab tempore neque ratione inventore quos aut, aperiam provident! Autem excepturi repellendus iste aut ut blanditiis aspernatur, architecto sint magnam. Earum, rem porro veritatis molestias hic eveniet impedit? Sequi, totam hic modi quaerat velit perspiciatis deserunt obcaecati. Deleniti voluptatibus repellat reiciendis nam quas ratione qui, vel hic pariatur ullam, accusantium, odio ipsa.</p>
                                <form class="form-cantidad-carrito" action="#">
                                    <label>Cantidad</label> 
                                    <input class="counter" type="number" name="Cantidad" list="defaultNumbers">
                                </form>
                                <div class="precio-centrado">
                                    <h4>Precio $0000</h4>
                                </div>
                                <div id="product-buttons">
                                    <button id="boton-quitar" class="glow-on-hover">Quitar Producto</button>
                                </div>
                            </div>
                        </div>
                </article>
            </section>
            <section>
                <div class="Agregar-mas-productos">
                    <button class="glow-on-hover">Agregar mas productos</button>
                </div>
            </section>
            <section id="Detalles-del-envio">
                <h3 class="Detalles-envio">Detalles del Envio</h3>
                <form class="datos-detalle" action="#">

                <div class="cincuenta">
                    <div >
                        <label for="Nombre-apellido">Nombre y Apellido</label><br>
                        <input type="text" name="Nombre-apellido" id="Nombre-apellido">
                    </div>

                    <div>
                        <label for="Telefono">Telefono</label> <br>
                        <input type="tel" name="Telefono" id="Telefono">
                    </div>
                    <div>
                        <label for="Documento">Documento</label> <br>
                        <input type="text" name="Documento" id="Documento">
                    </div>
                    <div >
                        <label for="Provincia">Provincia</label> <br>
                        <input type="text" name="Provincia" id="Provincia">
                    </div>
                </div>
                
                <div class="cincuenta">
                    <div >
                        <label for="Ciudad">Ciudad</label> <br>
                        <input type="text" name="Ciudad" id="Ciudad">
                    </div>
                    <div >
                        <label for="Calle">Calle</label> <br>
                        <input type="text" name="Calle" id="Calle">
                    </div>
                    <div >
                        <label for="Piso-Depto">Piso y Departamento</label> <br>
                        <input type="text" name="Piso-Depto" id="Piso-Depto">
                    </div>
                </div>  
                </form>
            </section>
            <div class="Agregar-mas-productos">
                <button class="glow-on-hover">Finalizar compra $$$$</button>
            </div>
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>
        </section>
        </main>
        <%- include('./partials/footer.ejs') %>

    </div>
</body>