<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links-y-meta.ejs') %>


<title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
    <%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>
        <section id="contenedor-section">
        <div id="ruta">
                <p><a class="negro" href="/">Home</a> > Crear Cuenta</p>
        </div>    
           
            <article id="login-registro">
                <h2>¿No tenés cuenta?</g2>
                    <h2>Completá el formulario para crear tu cuenta</h2>

                    <form class="form-login-registro" action="">
                        <div class="cincuenta">
                            <label class="marg5px" for="email">Correo Electronico</label>
                            <input class="marg5px" type="email" name="email" id="email">
                            <br>
                            <label class="marg5px" for="nuevo-usuario">Nombre de usuario</label>
                            <input class="marg5px" type="text" name="usuario" id="nuevo-usuario"><br>
                            <label class="marg5px" for="nombre-y-apellido">Nombre Completo</label>
                            <input class="marg5px" type="text" name="nombre-y-apellido" id="nombre-y-apellido"><br>
                        </div>
                        
                        <div class="cincuenta">
                            <label class="marg5px" for="nueva-contraseña">Contraseña</label>
                            <input class="marg5px" type="password" name="contraseña" id="nueva-contraseña">
                        <br>
                            <label class="marg5px" for="nueva-contraseña2">Repetir Contraseña</label>
                            <input class="marg5px" type="password" name="contraseña2" id="nueva-contraseña2">
                        </div>    
                        <button class="glow-on-hover"  type="submit">Registrarse</button>

                    </form>

            </article>

        </section>

        <section id="productos-extra">
            <h1>Productos Destacados</h1>

            <article>
                <a href="/productDetail">

                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/c4e8235ca027cdc387dea5e64e718a4989708c3a51bcdfd9661e6f3f06879f0479300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 01</h4>
                </div>
            </a>
            </article>
       
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/fd1531139f494abc9c1596c054ef1065936545bfe1c348b644e8dae70d97e7e379300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/28aa089b98fafa17d0048b5004d20f7aaa9f8847a7d1bca4712546f589597eba79300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            <article>
                <div class="taza-individual">
                    <img src="https://d22fxaf9t8d39k.cloudfront.net/368766129c6645593098c8d0340d83ade1bcc3592aa82df5026ebb1c84cf0b7279300.jpeg" alt="" class="img-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$850</p>
                    <h4>Taza 02</h4>
                </div>
            </article>
            
        </section>
        
        <section id="barra-extra">
            <div class="extra">Aceptamos todas las tarjetas</div>
            <div class="extra">Envíos en el día</div>
            <div class="extra">Protegemos tus datos</div>

        </section>
        <%- include('./partials/footer.ejs') %>

    </div>
</body>

</html>