*{
    border: solid 1px red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*

INICIO DEL HEADER

*/
#contenedor-header{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: black;
    width: 100%;
    
}
#divlogo{
    height: 14vh;
    margin-top: 10px;
    width: 100%;
}
#logo{
    width: auto;
    height: 70%;
    display:block;
    margin:auto;
}
#buscador{
    width: 100%;
    text-align: center;
    display:block;
    margin:auto;
    height: 25%;
    
}


#buscador{
    width: 100%;
    text-align: center;
}


#carrito-login{
    width: 100%;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#carrito-login ul{
width: 100%;
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;

}

#carrito-login ul li{
    
    justify-content: center;
    margin: auto;
    width: 33%;
    color: white;
}


nav{
    width: 100%;

}

nav ul li{
    border: #31AFD4 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul ul{
    display: none;
    
    list-style: none;
}

nav ul ul a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

nav ul li:hover > ul {
    display:block;
   }


#menu-no-mobile{
    display: none;
}
#menu-no-mobile > ul {
    display: flex;
    justify-content: center;
    margin: auto;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
}

/*

FIN DEL HEADER

*/

/*

INICIO DEL SECTION "PRODUCTOS"

*/


#productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    
}

#titulo{
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 1vw;

}

article{
    display: flex;
    width: 390px;
    padding: 1%;
    margin: auto;
}

.taza-individual{
    text-align: center;
}

.img-producto{
    width: 100%;
    height: auto;
}

/*

FIN DE SECION "PRODUCTOS"

*/

/*

INICIO SECTION "PRODUCT DETAILS"

*/

.product-details{
    width: 200vh;
    height: auto;
    text-align: left;
} 
#product-buttons{
    text-align: center;
    margin: auto;
    max-inline-size: 100px;

}

/*

INICIO SECTION "BARRA EXTRA"

*/
#barra-extra{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #31AFD4;
    color: white;
}
.extra{
width: 100%;
}

/*

FIN SECTION "BARRA EXTRA"

*/




@media (min-width:480px) {
    
}

/*TABLET*/
@media (min-width:769px) {
    
    
    #divlogo{
        
        width: 33%;
    }
    
    #buscador{
        width: 33%;
    }
    
    #carrito-login{
        width: 33%;
    }
    #menu-no-mobile{
        display: block;
        color: #7be0ad;
    }


    nav{
        display: none;
    }
    
      
    nav ul li {
        font-size: 25px;
        margin: 0.75rem;
        display: flex;
        border: 0px;
    }
    
    .extra{
        width: 33%;
        margin: auto;
    } 
}


/*DESKTOP*/
@media (min-width:1200px) {
    
    #contenedor-header{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
    }

    #productos{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
        
    }
    .extra{
        width: 33%;
        margin: auto;
    }
    #barra-extra{
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    }

    
    
}