*{
/*     border: solid 1px red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a:visited.negro{
    color: black;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
/*

INICIO DEL HEADER

*/
#contenedor-header{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: black;
    width: 100%;
    
}
#divlogo{
    height: 10vh;
    margin-top: 10px;
    width: 100%;
}
#logo{
    width: auto;
    height: 100%;
    display:block;
    margin:auto;
}
#buscador{
    width: 100%;
    text-align: center;
    display:block;
    margin:auto;
    height: 25%;
    
}


#buscador{
    width: 100%;
    text-align: center;
}


#carrito-login{
    width: 100%;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#carrito-login ul{
width: 100%;
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;

}

#carrito-login ul li{
    
    justify-content: center;
    margin: auto;
    width: 33%;
    color: white;
}


nav{
    width: 100%;

}

nav ul li{
    border: #31AFD4 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7be0ad;

}

nav ul ul{
    display: none;
    
    list-style: none;
}

nav ul ul a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

nav a:hover{
    background-color: rgb(51, 51, 51);
}

nav a:visited{
    text-decoration: none;
    color: #7be0ad;;
}

nav ul li:hover > ul {
    display:block;
   }


#menu-no-mobile{
    display: none;
}
#menu-no-mobile > ul {
    display: flex;
    justify-content: center;
    margin: auto;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
}

/*

FIN DEL HEADER

*/

#ruta{
    width: 100%;
    display: none;
}


/*

INICIO DEL SECTION "PRODUCTOS"

*/


#productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    -moz-box-shadow: 0px 0px 3px #000000;
-webkit-box-shadow: 0px 0px 3px #000000;
box-shadow: 0px 0px 3px #000000;
}
#productos-extra{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
   
}

h1{
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 1vw;
    text-align: center;

}

article{
    display: flex;
    width: 250px;
    padding: 1%;
    margin: 12px auto;
    background-color: #e0e0e0;
}

article:hover{
    -moz-box-shadow: 0px 0px 10px #000000;
-webkit-box-shadow: 0px 0px 10px #000000;
box-shadow: 0px 0px 10px #000000;
}

.taza-individual{
    text-align: center;
}

.img-producto{
    width: 100%;
    height: auto;
}

/*

FIN DE SECION "PRODUCTOS"

*/

/*

INICIO SECTION "PRODUCT DETAILS"

*/

.product-details{
    width: 200vh;
    height: auto;
    text-align: left;
} 
.counter{
    text-align: center;
box-sizing: content-box;
width: 8%;
}
#product-buttons{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    cursor:pointer;
    width: 100%;
    
}
.purchase-button{
    background-color: white;
    transition-duration: 0.4s;
    font-size: 25px;
}
.purchase-button:hover{
    background-color: #7be0da;
    color: white;
    margin: auto;
}
.add-to-cart{
    padding: 1vh;
    margin:auto;
    width: fit-content;
    background-color: white;
    transition-duration: 0.4s;
}
.add-to-cart:hover{
    background-color: #7be0da;
    color: white;
}
#related-products{
    display: flex;
    flex-wrap: wrap;
    margin: auto;  
}
.other-buttons{
    border: none;
    color: white;
    width: 50%;
}
.see-more-button{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2vh;
    transition-duration: 0.4s;
    padding: 32px 16px;
    width: max-content;
    margin-left:auto;
    cursor: pointer;
}
.see-more-button:hover{
    background-color: #7be0da;
    color: white;
}
.checkout-button{
    width: 100px;
    font-size: 25px;
    transition-duration: 0.4s;
    margin-left: 50%;
    width: 100%;
    text-align: center;
}
.checkout-button:hover{
    background-color: #7be0da;
    color: white;

}
/* #menu-no-mobile{
    display: none;
}
#menu-no-mobile > ul {
    display: flex;
    justify-content: center;
    margin: auto;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
} */
/*

FIN SECTION "PRODUCT DETAILS"

*/

/*

INICIO SECTION "contenedor section" //LOGIN

*/
#contenedor-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;  
}
#login-ingresar{
    width: 98%;
    padding: 1%;
    display: block;
    background-color: lightgray;
    border: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#login-registro{
    width: 98%;
    padding: 1%;
    display: block;
    background-color: lightgray;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-login-registro{
    margin-top: 10px;

}

#contenedor-section h2{
    text-align: center;
}

.form-login{
    margin-top: 10px;
}
#contenedor-section label{
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

#contenedor-section input{
    margin: auto;
    display: block;
    text-align: center; 
}
#contenedor-section button{
    margin: auto;
    display: block;
    text-align: center; 
}

/*

FIN SECTION "contenedor section"

*/

/*

INICIO SECTION "contenedor productos carrito" // CARRITO

*/

.h2-carrito {
    padding: 2% 2%;
    font-size: 5vw;
}

#Section-de-productos-en-carrito {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    padding: 1% 0%;
}

.productos-en-carrito {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: lightgray
}

.taza-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.img-taza-carrito {
    width: 100%;
}

.cuerpo-producto {
    display: flex;
    flex-wrap: wrap;
}

.upper-row{
    width: 100%;
    padding: 2% 1%;
}

.nombre-de-taza {
    width: 100%;
    height: 25%;
    font-size: 5vw;
}

.descripcion-taza {
    width: 100%;
    font-size: 4vw;
    padding-top: 3vw;
}

.low-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.form-cantidad-carrito {
    width: 25%;
    font-size: 4vw;
    text-align: center;
}

.precio-producto-carrito {
    width: 25%;
    font-size: 4vw;
    text-align: center;
}

.quitar-producto {
    width: 25%;
    font-size: 4vw;
    text-align: center;
    color: white;
    background-color: #000000;
}

.Agregar-mas-productos {
    margin: auto;
    text-align: center;
    font-size: 4vw;
    color: white;
    background-color: #000000;
    width: 40%;
}

#Detalles-del-envio {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    padding: 1% 0%;
    background-color: lightgray;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Detalles-envio {
    padding: 1% 1%;
    font-size: 5vw;
}

.datos-detalle {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 2%;
    font-size: 4vw;
}

.Finalizar-compra {
    margin: auto;
    text-align: center;
    font-size: 4vw;
    color: white;
    background-color: #000000;
    width: 40%;
    margin-bottom: 2%;
}

/*

FIN SECTION "contenedor productos carrito" // CARRITO

*/

/*

INICIO SECTION "BARRA EXTRA"

*/
#barra-extra{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #31AFD4;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.extra{
width: 100%;
}

/*

FIN SECTION "BARRA EXTRA"

*/
/*

INICIO FOOTER

*/
footer{
    background-color: #000000;
    color: white;
    height: 20vh;
    
}
#contenedor-footer{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#redes-footer{
    width: 100%;
    height: 10vh;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
#redes-footer img{
    width:5vh;
    height: 5vh;
}
.redes{
    width: 35px;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 7%;
}
.logo-footer{
    width: 10vh;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7%;
}
/*

FINAL FOOTER

*/



@media (min-width:480px) {
    
}

/*TABLET*/
@media (min-width:769px) {
    
    
    #divlogo{
        
        width: 33%;
    }
    
    #buscador{
        width: 33%;
    }
    
    #carrito-login{
        width: 33%;
    }
    #menu-no-mobile{
        display: block;
        color: #7be0ad;
        border-top: 1px solid grey;
    }


    nav{
        display: none;
    }
    
      
    nav ul li {
        font-size: 18px;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
        border: 0px;

    }
    
    .extra{
        width: 33%;
        margin: auto;
    } 
    #login-ingresar{
        width: 34%;
        padding: 1%;
        display: block;
    }
    #login-registro{
        width: 64%;
        padding: 1%;
        display: block;
    }
    #contenedor-section{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }
    #login-registro label{
        width: 48%;
    }
    #login-registro input{
        width: 48%;
    }
    .form-login-registro{
        display: flex;
    flex-wrap: wrap;
    }
    .cincuenta{  /*clase de 50% de ancho*/
        width: 50%;
    }
    #ruta{
        width: 100%;
        display:block;
        padding-left: 10px;
        padding-top: 10px;
    }
    .redes{
        
        margin-right: 10%;
    }
    .logo-footer{
        
        margin-left: 10%;
    }
}

/*DESKTOP*/
@media (min-width:1200px) {
    
    #contenedor-header{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
    }

    #productos{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
        
    }
    #productos-extra{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
        
    }
    .extra{
        width: 33%;
        margin: auto;
    }
    #barra-extra{
    width: 1200px;
    margin: auto;
    

    }
    #contenedor-footer{
        max-width: 1200px;
    }
    
    
    
    
    
}
