*{
    border: solid 1px red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-color: black;
    width: 100%;
    
}

nav{
    width: 100%;

}

nav ul li{
    border: #31AFD4 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul ul{
    display: none;
    
    list-style: none;
}

nav ul ul a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

nav ul li:hover > ul {
    display:block;
   }

#contenedor-header{

}

#logo-buscador-carrito{
    height: 14vh;
    margin-top: 10px;
    

}
#menu-no-mobile{
    display: none;

}

#logo{
    width: auto;
    height: 70%;
    display:block;
    margin:auto;
}
#buscador{
    width: 80%;
    max-width: 300px;
    display:block;
    margin:auto;
    height: 25%;
}


#productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    
}
article{
    display: flex;
    width: 390px;
    padding: 1%;
    margin: auto;
}

.img-producto{
    width: 100%;
    height: auto;
}
.taza-individual{
    text-align: center;
}

#barra-extra{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #31AFD4;
    color: white;
}
.extra{
width: 100%;
}

@media (min-width:480px) {
    #menu-no-mobile{
        display: none;
        color: #7be0ad;
    }
}

@media (min-width:769px) {
    .extra{
        width: 33%;
        margin: auto;
    }  
    nav{
        display: none;
    }
    #menu-no-mobile{
        display: block;
    }
    #menu-no-mobile > ul {
        display: flex;
        justify-content: center;
        margin: auto;
        list-style:none;
        display: flex;
        flex-wrap: wrap;
    }
      
    nav ul li {
        font-size: 25px;
        margin: 0.75rem;
        display: flex;
        border: 0px;
    }
    
}
@media (min-width:1200px) {
    #productos{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
        
    }
    .extra{
        width: 33%;
        margin: auto;
    }
    #barra-extra{
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    }
    
}